<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/src/css/user_dashboard.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <section class="transactions">
        <div class="container">
            <div class="individualTransaction">
                <h2>Your Investment Profile For <span>transaction ID</span></h2>
                <p>Amount Paid: <span>N0.00</span></p>
                <p>Amount To Recieve: <span>N0.00</span></p>
                <p>Amount Recieved: <span>N0.00</span></p>
                <p class="status">Withdrew</p>
                <p>Created: <span>date and time withdrawn</span></p>
                <a href="/withdraw"> Withdraw <span>transaction ID</span></a>
            </div>
        </div>
    </section> -->
    <section class="invest">
        <div class="container">
           <% if(data.initialization){%>
                    <form action="/user/invest" class="initialization" method="POST" enctype="application/x-www-form-urlencoded">
                        <h1>Invest starting from N2,000 and above</h1>
                        <input type="number" placeholder="2000" required minlength="4" min="2000" name="amount">
                        <p>Please note that you have just 24hrs to make this payment once merged</p>
                        <button type="submit">Pay</button>
                    </form>
            <%} %> 
            <% if(data.reciever){%>
                    <form action="" class="pay-to">
                        <p class="timer">You have <span>00 : 00 : 00</span> left</p>
                        <h3>Pay into the following acoount details then make use of the <b>I Have Paid Button</b></h3>
                        <input type="text" readonly value="<%= data.reciever.account_name %> ">
                        <input type="number" readonly value=<%= data.reciever.account_number %> >
                        <input type="text" readonly value="<%= data.reciever.bank_name %> ">
                        <input type="text" readonly value="<%= data.reciever.username %> ">
                        <input type="number" readonly value="<%= data.reciever.phone_number %> ">
                        <button type="submit">I Have Paid</button>
                    </form>
            <%} %> 
            
        </div>
    </section>
    <% if(data.wait){%>
            <section class="wait">
                <div class="container">
                    <h1>
                        please wait for the system to assign someone for you to pay
                    </h1>
                </div>
            </section>
    <%} %>
    <% if(data.waitingForPayment){%>
            <section class="waiting-for-payment">
                <div class="container">
                    <h1>
                        please wait for the system to assign people to pay you
                    </h1>
                </div>
            </section>
    <%} %>
    <% if(data.payer){%>
            <section class="found">
                <!-- persons to pay the user found -->
                <div class="container">
                    <h1>
                        The person(s) below has been merged to pay you
                    </h1>
                    <form action="">
                        <input type="text" name="name" placeholder="john doe" readonly>
                        <input type="text" name="username" placeholder="johndoe365" readonly>
                        <input type="number" name="amount" placeholder="2000" readonly>
                        <button type="submit"> User has paid</button>
                    </form>
                </div>
            </section>
    <%} %>
</body>
</html>