<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/src/css/user_dashboard.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <section class="transactions">
        <div class="container">
            <div class="individualTransaction">
                <h2>Your Investment Profile For <span>transaction ID</span></h2>
                <p>Amount Paid: <span>N0.00</span></p>
                <p>Amount To Recieve: <span>N0.00</span></p>
                <p>Amount Recieved: <span>N0.00</span></p>
                <p class="status">Withdrew</p>
                <p>Created: <span>date and time withdrawn</span></p>
                <a href="/withdraw"> Withdraw <span>transaction ID</span></a>
            </div>
        </div>
    </section> -->
    <section class="invest">
        <div class="container">
           <% if(data.initialization){%>
                    <form action="/user/invest" class="initialization" method="POST" enctype="application/x-www-form-urlencoded">
                        <% if(data.message){ %>
                        <p style="padding: 10px; color: white; background: red; text-align: center;"><%= data.message %> </p>

                       <% } %> 
                        <h1 style="text-align: center;">Invest starting from N2,000 and a maximum of 200,000</h1>
                        <% if(data.recommit){ %>
                            <p style="padding: 10px ;text-align: center; background-color: orange; color: white;">Please note that you have to recommit to start recieving</p>
                      <%  } %> 
                        <input type="number" placeholder="2000" required minlength="4" min="2000" name="amount">
                        <p>Please note that you have just 12hrs to make this payment once merged</p>
                        <button type="submit"><% if(data.recommit){%>
                            Re commit
                        <%}else{%>
                                Pay
                        <%} %> </button>
                    </form>
            <%} %> 
            <% if(data.transactions){%>
            <section class="found">
                <div class="container">
                    <h1>
                        You are to pay the person(s) below
                    </h1>
                    <% data.transactions.forEach(reciever =>{%>
                    <form action="/user/fileupload" class="pay-to" enctype="multipart/form-data" method="POST">
                        <p class="time">You have: <span></span> Left to complete this transaction</p>
                        Account Name
                        <input type="text" readonly value="<%= reciever.reciever.account_name %> ">
                        Bank Name
                        <input type="text" readonly value="<%= reciever.reciever.bank_name %> ">
                        Account Number
                        <input type="number" readonly value=<%= reciever.reciever.account_number %>>
                        Phone Number
                        <input type="number" readonly value=<%= reciever.reciever.phone_number %>>
                        <!-- User Name -->
                        <input type="text" name="reciever" placeholder="johndoe365" readonly
                            value="<%= reciever.reciever.username %> " style="display: none;">
                            Amount
                        <input type="number" name="amount" placeholder="2000" readonly value=<%= reciever.amount %>>
                        <% if(data.message){%>
                                <p style="padding: 10px; color: red;"><%= data.message %> </p>
                       <% } %> 
                        <input type="file" name="image" required>
                        <button type="submit"> I have paid</button>
                    </form>
                    <% }) %>
            
                </div>
                <script src="/src/js/transactionTimeout.js"></script>
            </section>
            <%} %>
            
            
        </div>
    </section>
    <% if(data.wait){%>
            <section class="wait">
                <div class="container">
                    <h1>
                        please wait for the system to assign someone for you to pay
                    </h1>
                </div>
            </section>
    <%} %>
    <% if(data.waitingForPayment){%>
            <section class="waiting-for-payment">
                <div class="container">
                    <h1>
                        please wait for the system to assign people to pay you
                    </h1>
                </div>
            </section>
    <%} %> 
    <% if(data.payers){%>
            <section class="found">
                <!-- persons to pay the user found -->
                <div class="container">
                    <h1>
                        The person(s) below has been merged to pay you
                    </h1>
                    <% data.payers.forEach(payer =>{%>
                            <form action = "/validate_payment" method="POST" enctype="application/x-www-form-urlencoded">
                                <!-- <input type="text" name="name" placeholder="john doe" readonly value="<%= payer.name %> "> -->
                                <input type="text" name="username" placeholder="johndoe365" readonly value="<%= payer.username %> ">
                                <input type="number" name="amount" placeholder="2000" readonly value=<%= payer.amount %> >
                                <button type="submit"> User has paid</button>
                            </form> 
                   <% }) %> 
                   
                </div>
            </section>
    <%} %>
<% if(data.transaction){%>
<% data.transaction.forEach(transaction =>{%>
<div class="transaction">
    <div class="container">
        <% if(data.waitingForPayment || data.wait || data.payers || data.transactions){%>
            <% if(data.transaction.indexOf(transaction) === 0){%>

                <p style="padding: 10px; text-align: center; color: white; background: orange;">Ongoing Transaction</p>

           <% } %> 
       <% } %> 
        <ul>
            <li>Transaction ID: <span><%= transaction.transaction_id %> </span></li>
            <li> <% if(data.wait || data.transactions){%>
                        <% if(data.transaction.indexOf(transaction) === 0){%>
                            Amount Epected To Be Paid:
                        <% } %>

                <%}else{%>
                    Amount Paid:
           <% } %> <span><%= transaction.amount_paid %> </span></li>
            <li>Amount Recieved: <span> <%= transaction.amount_recieved %> </span></li>
        </ul>
    </div>
</div>
<% }) %>
<!-- <div class="transaction">
        <div class="container">
            <ul>
                <li>Transaction ID: <span></span></li>
                <li> Amount Paid: <span></span></li>
                <li>Amount Recieved: <span></span></li>
            </ul>
        </div>
    </div> -->
<%} %>
    
<script src="/src/js/buttons.js"></script>   
</body>
</html>