<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/src/css/user_dashboard.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="profile-body">
    
    <section class="profile">
        <div class="container">
           <div class="top_div">
                <h1 class="title">
                    My Account 
                    <span>
                        Update your personal information.
                    </span>
                    <% if(data.message){%>
                        <p style="padding: 10px; color: white; background: green;"><%= data.message %> </p>
                    <%} %> 
                </h1>
                <div class="wrap">
                    <h1>
                        User Name: 
                    <span>
                            <%= data.username %> 

                    </span>
                    </h1>
           </div>
           </div>
                <div class="headers">
                    <h2>GENERAL INFORMATION</h2>
                </div>
                <div class="details">
                    <form action="/user/dashboard/update_number" method="POST" enctype="application/x-www-form-urlencoded">
                        <label for="email">
                            <input type="email" readonly value="<%= data.email %> " name="email">
                        </label>
                        <label for="name">
                            <input type="text" readonly value="<%= data.name %> " name="name">
                        </label>
                        <label for="number">
                            <input type="number" name="phone_number" value=<%=data.phone_number %>>
                        </label>
                        <label for="actions">
                            <button type="reset">RESET</button>
                            <button type="submit">SAVE</button>
                        </label>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <a href="/user/change_password" style="color: white;">change Your Password</a>
    </div>
<script src="/src/js/buttons.js"></script>   
</body>
</html>